In [1]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [43]:
adult = pd.read_csv("../data/adult.csv", index_col=[0]).replace("?", np.nan)
adult.dropna(inplace=True)
adult

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [6]:
men = adult[adult["sex"] == "Male"].shape[0]
women = adult[adult["sex"] == "Female"].shape[0]
men, women

(21790, 10771)

# Task 2
Find the average age of men in dataset

In [13]:
adult[adult["sex"] == "Male"]["age"].mean()

39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [9]:
all_people = adult.shape[0]
people_from_poland = adult[adult["native-country"] == "Poland"]["age"].count()
(people_from_poland * 100) / all_people

0.18426952489174164

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [45]:
more_than_50K = adult[adult["salary K$"] > 50]["age"]
less_than_50K = adult[adult["salary K$"] <= 50]["age"]
(more_than_50K.mean(), more_than_50K.std()), (less_than_50K.mean(), less_than_50K.std())

((44.24984058155847, 10.519027719851826),
 (36.78373786407767, 14.02008849082488))

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [10]:
adult[adult["salary K$"] > 50]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [11]:
adult.groupby(adult["education"])["age"].describe()

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [28]:
married_men = adult[adult["marital-status"].str.startswith("Married")][adult["sex"] == "Male"]
not_married_men = adult[adult["marital-status"].isin(["Never-married", "Divorced", "Separated", "Widowed"])][adult["sex"] == "Male"]

married_men["salary"].value_counts(), not_married_men["salary"].value_counts()

C:\Users\user\AppData\Local\Temp\ipykernel_3808\2499005763.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  married_men = adult[adult["marital-status"].str.startswith("Married")][adult["sex"] == "Male"]
C:\Users\user\AppData\Local\Temp\ipykernel_3808\2499005763.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  not_married_men = adult[adult["marital-status"].isin(["Never-married", "Divorced", "Separated", "Widowed"])][adult["sex"] == "Male"]

(<=50K    7576
 >50K     5965
 Name: salary, dtype: int64,
 <=50K    7552
 >50K      697
 Name: salary, dtype: int64)

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [18]:
max_hours = adult["hours-per-week"].max()
adult["hours-per-week"].value_counts().sort_index()

1     20
2     32
3     39
4     54
5     60
      ..
95     2
96     5
97     2
98    11
99    85
Name: hours-per-week, Length: 94, dtype: int64

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [31]:
adult.corr()

                     age  hours-per-week  salary K$
age             1.000000        0.068756   0.201774
hours-per-week  0.068756        1.000000   0.196916
salary K$       0.201774        0.196916   1.000000